[Desktop Entry]
Comment[tr]=
Comment=
Exec=python /usr/bin/whoyou.py
GenericName[tr]=
GenericName=
Icon=exec
MimeType=
Name[tr]=whoyou
Name=whoyou
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
